<div class="pet-search-title">
    <h2>Find your companion</h2>
</div>

<div class="container">
    <div class="row">
        {{#each pet}}
        <div id="{{uuid}}" class="card" style="width: 25rem;">
            <img src={{photo_url}} class="card-img-top" alt="animal image" width="25rem">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <ul class="card-text">
                    <li>Species: {{species}}</li>
                    <li>Age: {{age}}</li>
                    <li>Gender: {{gender}}</li>
                </ul>
                <a href={{url}} class="btn btn-primary" target="_blank">View Pet</a>

                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{name}}"
                    aria-expanded="false" aria-controls={{name}}>
                    View Contact Info
                </button>

                <button class="btn btn-primary savepetBtn" type="button" data-id="{{userId}}" data-uuid="{{uuid}}">Save Pet</button>

                <div class="collapse" id="{{name}}">
                    <div class="card card-body">
                        <ul>
                            <li>Email: <a href="mailto:{{email}}">{{email}}</a></li>
                            <li>Phone: <a href="tel:{{phone}}">{{phone}}</a></li>
                            <li>Address 1: {{address1}}</li>
                            <li>Address 2: {{address2}}</li>
                            <li>City: {{city}}</li>
                            <li>State: {{state}}</li>
                            <li>Zip: {{zipcode}}</li>
                            <li>Country: {{country}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>